/* Make the event text appear centered over a background image. */
.event_container{position: relative; text-align: center;}
#event_output{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size:larger;}
