body {
    background-color: black;
}

#parallax-container {
    width: 98vw;
    height: 98vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}

#parallax-scene {
    width: 100%;
    height: 100%;
    position: relative;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
